<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/category"></ion-back-button>
    </ion-buttons>
    <ion-title>Tambah Berita Baru</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label position="floating">Judul Berita</ion-label>
      <ion-input [(ngModel)]="judul"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Deskripsi / Konten</ion-label>
      <ion-textarea [(ngModel)]="deskripsi" rows="6"></ion-textarea>
    </ion-item>
    
    <ion-item>
      <ion-label>Pilih Kategori</ion-label>
      <ion-select [(ngModel)]="kategoriTerpilih" placeholder="Pilih" multiple="true">
        <ion-select-option *ngFor="let c of daftarKategori" [value]="c.id">
          {{ c.nama_kategori }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item-group>
      <ion-item-divider><ion-label>Gambar Konten</ion-label></ion-item-divider>

      <ion-item>
        <ion-label position="floating">URL Foto Cover Berita</ion-label>
        <ion-input [(ngModel)]="foto_utama" placeholder="https://..."></ion-input>
        <ion-img [src]="foto_utama" *ngIf="foto_utama" style="width: 350px; height: auto;"/>
      </ion-item>

      <ion-item>
        <ion-input placeholder="Masukkan URL Gambar" [(ngModel)]="gambarTambahan"></ion-input>
        <ion-button slot="end" (click)="tambahGambar()">Tambah</ion-button>
      </ion-item>

      <div *ngFor="let img of listGambar; let i = index" class="ion-margin-top" style="border: 1px solid #ddd; border-radius: 8px; overflow: hidden;">
        <ion-item lines="none">
          <ion-label>Detail Gambar {{ i + 1 }}</ion-label>
          <ion-button slot="end" color="danger" fill="clear" (click)="listGambar.splice(i, 1)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-item>

        <div style="padding: 0 16px 16px 16px;">
          <img [src]="img" style="width: 100%; height: auto; border-radius: 4px; display: block;" />
          <p style="font-size: 0.7em; color: gray; margin-top: 8px; word-break: break-all;">
            {{ img }}
          </p>
        </div>
      </div>
    </ion-item-group>
  </ion-list>

  <ion-button expand="block" class="ion-margin-top" (click)="simpanBerita()">
    Upload Berita
  </ion-button>
</ion-content>