<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Berita</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-segment [(ngModel)]="jenistampilan">
    <ion-segment-button value="forYou">
      <ion-label>For You</ion-label>
    </ion-segment-button>
    <ion-segment-button value="category">
      <ion-label>Category</ion-label>
    </ion-segment-button>
  </ion-segment>

<ion-content>
<div *ngIf="jenistampilan === 'forYou'">
  <ion-list [inset]="true">
    <ion-card *ngFor="let berita of daftarBerita" class="news-card" (click)="bacaBerita(berita.id)">

        <!-- GAMBAR, JUDUL, BINTANG FAVORIT -->
      <div class="card-header-container">
          <!-- Wadah buat naruh gambar di kiri -->
          <ion-thumbnail class="news-thumbnail">
            <ion-img [src]="berita.foto" alt="Foto untuk {{ berita.judul }}"></ion-img>
          </ion-thumbnail>
          
        <div class="text-content" >
          <ion-card-title class="news-title">{{berita.judul}}</ion-card-title>
          <ion-card-subtitle>{{berita.categories}}</ion-card-subtitle>
          <p class="news-content">{{berita.konten | slice:0:120}}...</p>
        </div>
      </div>

      <!-- Ikon Favorit yang Diposisikan di Pojok -->
      <div class="favorite-icon" (click)="onToggleFavorite(berita, $event)">
        <ion-icon name="heart" color="danger" *ngIf="berita.isFavorite"></ion-icon>
        <ion-icon name="heart-outline" color="medium" *ngIf="!berita.isFavorite"></ion-icon>
      </div>

      <ion-card-content class="news-content" > 
        
        <div class="views-container">
            <ion-icon name="eye-outline" color="medium"></ion-icon>
            <ion-note>{{ berita.views || 0 }} views</ion-note>
        </div>

        <div class="rate">
          <ion-icon name="star" color="warning"></ion-icon>
          <ion-note>{{ (berita.rating || 0) | number:'1.1-1' }} / 5</ion-note>
        </div>

        <div class="comments">
          <ion-icon name="chatbubble-outline"></ion-icon>
          <ion-note>{{ berita.komentar?.length}} komentar</ion-note>
        </div>

      </ion-card-content>
    </ion-card>
  </ion-list>
  </div>

  <div *ngIf="jenistampilan === 'category'">
    <div class="welcome-text">
      <h2>Pilih Kategori Berita</h2>
      <p>Temukan berita sesuai minat Anda</p>
    </div>

    <div class="kategori-grid">
      <ion-card 
        *ngFor="let cat of daftarKategori" 
        (click)="pilihKategori(cat)"
        [color]="cat.color"
        button="true">
        
        <ion-card-content>
          <div class="kategori-item">
            <ion-icon [name]="cat.icon"></ion-icon>
            <h3>{{ cat.nama_kategori}}</h3>
            <p>{{ cat.jumlahBerita }} berita</p>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="jenistampilan === 'category'">
    <ion-fab-button routerLink="/newcategory">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

