<ion-header>
  <ion-toolbar>
    <ion-title>Kategori Berita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="welcome-text">
    <h2>Pilih Kategori Berita</h2>
    <p>Temukan berita sesuai minat Anda</p>
  </div>

  <div class="kategori-grid">
    <ion-card 
      *ngFor="let Categories of daftarKategori" 
      (click)="pilihKategori(Categories)"
      [color]="Categories.color">
      
      <ion-card-content>
        <div class="kategori-item">
          <ion-icon [name]="Categories.icon"></ion-icon>
          <h3>{{ Categories.nama }}</h3>
          <p>{{ Categories.jumlahBerita }} berita</p>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

