// bikin card menjadi patokan untuk posisi absolut
ion-card {
  position: relative;
  width: 100%;
}

.favorite-icon {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 10; // biar ikon selalu di atas gambar
  padding-top: 5px;
  padding-right: 9px;

  ion-icon {
    font-size: 28px; // bikin ikon lebih besar
  }
}

.delete-btn {
    position: absolute;
    right: 5px;
    top: 50px;   /* Estimasi posisi: Tinggi fav-btn (~35px) + jarak (20px) = 55px */
    z-index: 20;
    margin:0px;
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;
    
    ion-icon { 
      font-size: 28px;
      margin:5px;
    }
  }

p{
  padding-bottom:4px;
  margin: 0;
}

ion-card-header {
  margin: 0px;
}

ion-fab-button {
  --color: black;
  --box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);

  --border-color: rgb(255, 255, 255);
  --border-width: 2px;
  --border-style: solid;
  
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

ion-fab-button:active {
  transform: scale(1.1);
  --box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);
}


news-card {
  position: relative; // Penting untuk positioning ikon favorit
  margin: 0 0 16px 0; // Menambahkan jarak di bawah setiap kartu
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08); // Bayangan yang lebih lembut
  cursor: pointer;
}

ion-list{
  background: transparent;
  max-width: 1500px;
  margin: 0;
}

.card-header-container{
  display: flex; // buat flex teksnya bair bisa muncul di sampingnya
  align-items: flex-start;
  padding: 16px; // padding kartunya
  gap:16px; // buat jarak antara gambar sm teks
}

.news-thumbnail{
  --size:135px; //ukuran gambar yg fix
  --border-radius:8px; // biar sudutnya agak bunder
  flex-shrink:0; // biar gambar tidak menyusut
}

.views-container{
  margin-top: 8px;
  font-size: 0.75rem;
  display: flex;
  gap: 2px;
  color: var(--ion-color-medium);
  align-items: center;
}



.text-content{
  flex: 1; //ambil sisa ruang
}

.news-title{
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.4;
  // kalo misal teksnya terlalu panjang
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.news-content {
  padding: 0 16px 16px 1px; // Padding tanpa bagian atas
  font-size: 1rem;
}

.rate {
  margin-top: 12px;
  display: flex;
  //justify-content: space-between; // Mendorong rating ke kiri dan komentar ke kanan
  align-items: center;
  font-size: 0.8rem;
  gap: 5px;
}

.comments {
  margin-top:8px;
  display: flex;
  align-items: center;
}

ion-note{
  padding-left: 4px;
}