<ion-header>
  <ion-toolbar>
    <ion-title>Berita</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-segment [(ngModel)]="jenistampilan">
    <ion-segment-button value="forYou">
      <ion-label>For You</ion-label>
    </ion-segment-button>
    <ion-segment-button value="category">
      <ion-label>Category</ion-label>
    </ion-segment-button>
  </ion-segment>

<ion-content>
<div *ngIf="jenistampilan === 'forYou'">
    <ion-list>
      <ion-card *ngFor="let berita of daftarBerita" (click)="bacaBerita(berita.id)" >
        <ion-img [src]="berita.foto"></ion-img>
        <div class="favorite-icon" (click)="onToggleFavorite(berita, $event)">
          <ion-icon name="star" color="warning" *ngIf="berita.isFavorite"></ion-icon>
          <ion-icon name="star-outline" color="medium" *ngIf="!berita.isFavorite"></ion-icon>
        </div>
        <ion-card-header>
          <ion-card-title>{{ berita.judul }}</ion-card-title>
          <ion-card-subtitle>{{ berita.categories }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <p>{{ berita.konten | slice:0:120 }}...</p>
          <ion-note color="medium">Rating: {{ getRataRataRating(berita.rating) }}/5</ion-note>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>

  <div *ngIf="jenistampilan === 'category'">
    <div class="welcome-text">
      <h2>Pilih Kategori Berita</h2>
      <p>Temukan berita sesuai minat Anda</p>
    </div>

    <div class="kategori-grid">
      <ion-card 
        *ngFor="let Categories of daftarKategori" 
        (click)="pilihKategori(Categories)"
        [color]="Categories.color"
        button="true">
        
        <ion-card-content>
          <div class="kategori-item">
            <ion-icon [name]="Categories.icon"></ion-icon>
            <h3>{{ Categories.nama }}</h3>
            <p>{{ Categories.jumlahBerita }} berita</p>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>

