<ion-header>
  <ion-toolbar>
    <ion-title>{{ selectedBerita?.judul }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/daftarberita"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="selectedBerita">
  <ion-img [src]="selectedBerita.foto"></ion-img>
  <div class="favorite-icon" (click)="onToggleFavorite(selectedBerita, $event)">
    <ion-icon name="star" color="warning" *ngIf="selectedBerita.isFavorite"></ion-icon>
    <ion-icon name="star-outline" color="medium" *ngIf="!selectedBerita.isFavorite"></ion-icon>
  </div>
  
  <div class="ion-padding">
    <h1>{{ selectedBerita.judul }}</h1>
    <p style="font-size:22px">{{ selectedBerita.konten }}</p>
  </div>
  
  </ion-content>