// bikin card menjadi patokan untuk posisi absolut
  ion-card {
    position: relative;
  }
  
  // Mengatur posisi ikon favorit
  .favorite-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10; // biar ikon selalu di atas gambar
  
    ion-icon {
      font-size: 28px; // bikin ikon lebih besar
    }
  }

  .rating-stars {
    font-size: 32px; // Ukuran bintang
    display: flex;
    justify-content: center;
    gap: 8px;
  }

  .reply-form {
    padding-left: 52px; // Sejajar dengan konten komentar
    margin-top: 8px;
  
    ion-textarea {
      border: 1px solid var(--ion-color-light-shade);
      border-radius: 8px;
      margin-bottom: 4px;
    }
  }
  
  .reply-buttons {
    display: flex;
    justify-content: flex-end;
  }

  // biar menjarak ke dalam buat yg replies
  .replies-container {
    padding-left: 48px; 
    margin: 12px 12px;
  }
  
  .comment-date {
    font-size: 11px;
  }